* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    background-color: red;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 30px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
}

.translate:hover {
    transform: translate(10px, 15px);
}

.translatex:hover {
    transform: translateX(40px);
}

.translatey:hover {
    transform: translateY(20px);
}

.rotate:hover {
    transform: rotate(45deg);
}

.rotatex:hover {
    transform: rotateX(45deg);
}

.rotatey:hover {
    transform: rotateY(45deg);
}

.rotatez:hover {
    transform: rotateZ(45deg);
}

.scale:hover {
    transform: scale(0.8);
}

.scalex:hover {
    transform: scaleX(0.8);
}

.scaley:hover {
    transform: scaleY(0.8);
}

.skew:hover {
    transform: skew(20deg, 20deg);
}

.skewx:hover {
    transform: skewX(20deg);
}

.skewy:hover {
    transform: skewY(20deg);
}

.matrix:hover {
    transform: matrix(2,2,2,1,1,1);
}